body {
  margin: 0;
  font-family: 'DinPro';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

@font-face {
  font-family: krakoan;
  src: url("assets/fonts/krakoan.ttf");
}

